/* jeneral styling */
.wrapper{
    margin: 0 auto;
}
h1,h2,h3{
font-family: 'Teko', sans-serif;
font-size: 2rem;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
}
a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem !important;
}

/* header styling */
header{
    background-color: #132B8D;
}
.title{
    color: azure;
   padding: 20px;
   font-size: 1.3rem;
}
.nav-link{
    color: #F24405;
}

/* footer styling */
footer{
    background-color: #132B8D;
    height: 150px;
    margin-top: 10px;
}
footer div i{
    color: aliceblue;
    font-size: 1.8rem;
}
.copy{
    margin-right: 20px;
    color: aliceblue;
    text-align: end;
}


/* Home page */
/* welcome section */
.welcome{
    background-color: #D5D5D5;
    border: solid 3px black;
    margin: 5px;
}
.skipbutton{
    text-decoration: none;
    color: #9810FA;
    background-color: white;
    border: solid 2px black;
    box-shadow: 4px 4px black;
    display:block;
    width:150px;
    margin:0 auto;
}
.skipbutton:hover{
    background-color: #A3CB33;
}

/* gallery section */
.subcontainer{
    position: relative;
  }
  
  .subheader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gallery{
    background-color: #D5D5D5;
  }


/* About page */
.profile, .skill, .project, .contactform{
    background-color: #D5D5D5;
    border: solid 3px black;
    margin: 5px;
}

/* Contact page */
label{
    color: #F24405;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
}
input, textarea{
    border: solid 3px black !important;
}

.btn{
    color: #9810FA;
    background-color: white;
    border: solid 2px black;
    box-shadow: 4px 4px black;
}
.btn:hover{
    background-color: #A3CB33;
    color: #9810FA;
}